Source: libxres
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Andres Salomon <dilinger@debian.org>, Drew Parsons <dparsons@debian.org>, Brice Goglin <bgoglin@debian.org>
Build-Depends:
 debhelper (>= 5.0.0),
 libx11-dev (>= 1:0.99.2),
 libxext-dev (>= 1:0.99.1),
 x11proto-resource-dev,
 x11proto-xext-dev,
 pkg-config,
 quilt,
 automake,
 libtool,
 xutils-dev (>= 1:7.5~1)
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/git/pkg-xorg/lib/libxres
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/lib/libxres.git

Package: libxres1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-common
Description: X11 Resource extension library
 libXRes provides an X Window System client interface to the Resource
 extension to the X protocol.
 .
 The Resource extension allows for X clients to see and monitor the X resource
 usage of various clients (pixmaps, et al).
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libXRes

Package: libxres1-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-common, libxres1 (= ${binary:Version})
Description: X11 Resource extension library (debug package)
 libXRes provides an X Window System client interface to the Resource
 extension to the X protocol.
 .
 The Resource extension allows for X clients to see and monitor the X resource
 usage of various clients (pixmaps, et al).
 .
 This package contains the debug versions of the library found in libxres1.
 Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libXRes

Package: libxres-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxres1 (= ${binary:Version}), libx11-dev, libxext-dev, x11proto-resource-dev
Conflicts: x11proto-resource-dev (<< 1.0+cvs.20050712-1)
Pre-Depends: x11-common (>= 1:7.0.0)
Description: X11 Resource extension library (development headers)
 libXRes provides an X Window System client interface to the Resource
 extension to the X protocol.
 .
 The Resource extension allows for X clients to see and monitor the X resource
 usage of various clients (pixmaps, et al).
 .
 This package contains the development headers for the library found in
 libxres1.  Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libXRes

